---
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="utf-8">
        <title>IN:TO</title>
    </head>

    <body class="cn">
        <script>
            function setlang(lang) {
                document.body.className = lang;
            }
        </script>

        <div class="wrapper">
            <header>
                <a href="/"><h2>IN:TO</h2></a>
                <ul>
                    <li lang="cn" onclick="setlang('en')">EN</li>
                    <li lang="en" onclick="setlang('cn')">中</li>
                </ul>
            </header>

            <main>
                {% for tab in site.data.tabs %}
                <div id="{{ tab.heading-en | url_encode }}" class="tab">
                    <a class="tab-heading" href="#{{ tab.heading-en | url_encode }}">
                        <h3>{{ tab.heading-cn }}</h3>
                        <h3>{{ tab.heading-en }}</h3>
                    </a>
                    <a class="tab-content" href="#">
                        <div class="tab-description" lang="en">{{ tab.discription-en | markdownify }}</div>
                        <div class="tab-description" lang="cn">{{ tab.discription-cn | markdownify }}</div>
                        <div class="cards">
                            {% for i in (1..5) %}
                            <div class="card">
                                <h4>Title</h4>
                                <img src="https://picsum.photos/id/1/300/200">
                            </div>
                            {% endfor %}
                        </div>

                    </a>
                </div>
                {% endfor %}
            </main>
        </div>
    </body>
</html>
