* {
    box-sizing: border-box;
}

body.cn :lang(en),
body.en :lang(cn) {
    display: none;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: sans;
    height: 100vh;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

header {
    display: flex;
    border-bottom: 1px solid white;
}
header a {
    color: white;
    text-decoration: none;
}
header ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}
header li {
    display: inline;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;
}
main a {
    color: white;
    text-decoration: none;
}

.tab {
    flex: 1;
    background-color: black;
    /* border-bottom: 1px solid white; */
    padding: 0 1rem;
    transition: .5s;
}
.tab:hover, .tab:target {
    filter: invert(1);
}
.tab-heading {
    display: block;
    /* border-bottom: 1px solid white; */
}
.tab:target .tab-content {
    display: flex;
    align-items: flex-start;
}
.tab:target .tab-content img {
    filter: invert(1);
}
.tab-content {
    display: none;
}

.tab-description {
    width: 40ch;
    flex-shrink: 0;
}
.cards {
    display: flex;
    overflow: auto;
}
.card:not(:first-child) {
    margin-left: -270px;
}
.card:hover + .card {
    margin-left: 0;
}
