* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    height: 100vh;
    color: White;
    font-family: sans-serif;
}

a {
    color: white;
}

.overlay {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
}

.title {
    font-size: x-large;
}
.title > * {
    margin: .2rem 0;
}
.title-bottom {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
}
.right {
    margin-top: auto;
    position: relative;
    min-height: 0;
    display: flex;
    height: 100%;
}

#forword {
    text-decoration: none;
    min-width: 70%;
    height: 100%;
    overflow-y: auto;
    font-size: large;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}
#forword:target ~ .title-bottom {
    display: none;
}
#forword:target {
    opacity: 1;
    visibility: visible;
}
#forword:target::before {
    content: "";
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.forword-signature {
    text-align: right;
}
.forword-signature img{
    filter: invert(1);
    max-width: 40%;
}

main {
  position: fixed;
  top: 0;
  z-index: -1;
}
canvas {
  display: block;
}

@media (min-width: 400px) {
    .title {
        font-size: xx-large;
    }
    .title-bottom {
        text-align: right;
        margin-left: auto;
        margin-top: auto;
    }
    .right {
        flex: 1;
    }
    .overlay {
        flex-direction: row;
    }
    .forword-main {
        margin: 0 auto;
    }
}

